<div>
  <a class="col-sm-1">Sushi Bento</a>
  <a class="col-sm-1">Appetizers</a>
  <a class="col-sm-1">Sushi Rols</a>
  <a class="col-sm-1">Yakisoba</a>
  <a class="col-sm-1">Teriyaki</a>
  <a class="col-sm-1">Katsu</a>
  <a class="col-sm-1">Noodle Soup</a>
  <a class="col-sm-1">Chinese Entrees</a>
  <a class="col-sm-1">Yummy Combo Bento</a>
  <a class="col-sm-1">Tempura Bento</a>
  <a class="col-sm-1">Vegetarian</a>
  <a class="col-sm-1">Side Order</a>
</div>